/* This file is automatically managed and will be overwritten from time to time. */
/* Do not manually edit this file. */

/* Provided by osc-ui-widgetset.jar */
@import "../../..//VAADIN/addons/stepper/stepper.scss";


/* Provided by osc-ui-widgetset.jar */
@import "../../../VAADIN/addons/stepper/stepper.scss";


/* Import and include this mixin into your project theme to include the addon themes */
@mixin addons {
    @include stepper;
    @include stepper;
}