**/target/**
**/.settings/org.eclipse.m2e.core.prefs
**/src/main/generated/**
**/.settings/org.eclipse.m2e.core.prefs
osc-server-bom/root/opt/vmidc/bin/webapp/**
osc-export/generated/**
osc-export/webapp/**
osc-export/data/*.db*
osc-export/data/log/**
osc-export/data/plugins/**
osc-export/data/mainKeyStore.p12
osc-export/data/osctrustore.jks
osc-export/*.db*
osc-export/server.pid
osc-server-bom/root/opt/vmidc/bin/META-INF/
osc-server-bom/root/opt/vmidc/bin/aQute/
osc-server-bom/root/opt/vmidc/bin/config/
osc-server-bom/root/opt/vmidc/bin/jar/
osc-server-bom/root/opt/vmidc/bin/launcher.properties
osc-server-bom/root/opt/vmidc/bin/default-data/**
osc-server-bom/root/opt/vmidc/bin/osc-control.jar
osc-server-bom/root/opt/vmidc/bin/vmidcKeyStore.jks
osc-server-bom/Sources/jre*.tar.*
osc-server/src/main/webapp/VAADIN/gwt-unitCache/
osc-server/src/main/webapp/VAADIN/themes/vmidc/styles.css
osc-server/src/main/webapp/VAADIN/widgetsets/
**/*.iml
**/?
