# Set the default behavior, in case people don't have core.autocrlf set.
*.mk text=auto
*.xml text=auto
*.sh text=auto
*.bnd text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.java text=auto
