<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

<proxies>
<proxy>
      <id>1</id>
      <active>true</active>
      <protocol>http</protocol>
      <username>proxyuser</username>
      <password>proxypass</password>
      <host>proxy-chain.intel.com</host>
      <port>911</port>
      <nonProxyHosts>localhost|127.0.0.1|0.0.0.0</nonProxyHosts>
</proxy>
<proxy>
      <id>2</id>
      <active>true</active>
      <protocol>https</protocol>
      <username>proxyuser</username>
      <password>proxypass</password>
      <host>proxy-chain.intel.com</host>
      <port>912</port>
      <nonProxyHosts>localhost|127.0.0.1|0.0.0.0</nonProxyHosts>
</proxy>
</proxies>

</settings>

